Package: se.nosskirneh.spotifyswitches
Name: SpotifySwitches
Description: Flipswitches for Spotify
Version: 0.0.2
Priority: optional
Section: Addons (Flipswitch)
Architecture: iphoneos-arm
Depends: mobilesubstrate, com.a3tweaks.flipswitch
Maintainer: Andreas Henriksson
Author: Andreas Henriksson
