Package: se.nosskirneh.sos
Name: SpotifyOfflineSwitch
Description: Flipswitch to toggle Spotify Offline Mode
Version: 0.0.1
Priority: optional
Section: Addons (Flipswitch)
Architecture: iphoneos-arm
Depends: mobilesubstrate, com.a3tweaks.flipswitch
Maintainer: Andreas Henriksson
Author: Andreas Henriksson
