Package: se.nosskirneh.spotifyswitches
Name: SpotifySwitches
Description: Flipswitches for Spotify
Version: 1.0.1b
Conflicts: se.nosskirneh.sos
Priority: optional
Section: Addons (Flipswitch)
Architecture: iphoneos-arm
Depends: mobilesubstrate, com.a3tweaks.flipswitch
Maintainer: Andreas Henriksson
Author: Andreas Henriksson
