Package: se.nosskirneh.spotifyswitches
Name: SpotifySwitches
Description: Flipswitches and more for Spotify.
Depiction: https://andreashenriksson.se/repo/depictions/?p=se.nosskirneh.spotifyswitches
Version: 1.1.3b1
Conflicts: se.nosskirneh.sos
Priority: optional
Section: Tweaks
Architecture: iphoneos-arm
Depends: firmware (>= 8.0), mobilesubstrate (>= 0.9.5000), com.a3tweaks.flipswitch, libactivator
Maintainer: Andreas Henriksson
Author: Andreas Henriksson
