Package: se.nosskirneh.spotifyswitches
Name: SpotifySwitches
Description: Flipswitches and Activator Listener (Connect) for Spotify
Version: 1.0.1b3
Conflicts: se.nosskirneh.sos
Priority: optional
Section: Tweaks
Architecture: iphoneos-arm
Depends: mobilesubstrate , com.a3tweaks.flipswitch, libactivator
Maintainer: Andreas Henriksson
Author: Andreas Henriksson
