Package: se.nosskirneh.spotifyswitches
Name: SpotifySwitches
Description: Flipswitches and more for Spotify.
Version: 1.1.0b1
Conflicts: se.nosskirneh.sos
Priority: optional
Section: Tweaks
Architecture: iphoneos-arm
Depends: mobilesubstrate , com.a3tweaks.flipswitch, libactivator
Maintainer: Andreas Henriksson
Author: Andreas Henriksson
