<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>headerCellClass</key>
            <string>SpotifySwitchesSettingsHeaderCell</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Add to Playlist</string>
            <key>footerAlignment</key>
            <integer>0</integer>
            <key>footerText</key>
            <string>If specified, add directly to this playlist in favor of showing the list to choose from. Note: this is case senetive!</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>se.nosskirneh.spotifyswitches</string>
            <key>key</key>
            <string>skipDuplicates</string>
            <key>label</key>
            <string>Skip duplicates</string>
            <key>PostNotification</key>
            <string>se.nosskirneh.spotifyswitches/preferencesChanged</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>default</key>
            <string></string>
            <key>defaults</key>
            <string>se.nosskirneh.spotifyswitches</string>
            <key>key</key>
            <string>specifiedPlaylistName</string>
            <key>label</key>
            <string>Playlist name</string>
            <key>PostNotification</key>
            <string>se.nosskirneh.spotifyswitches/preferencesChanged</string>
        </dict>

        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>Other</string>
            <key>footerAlignment</key>
            <integer>0</integer>
            <key>footerText</key>
            <string>Pause the music whenever the current track changes or in the event of resuming music if volume is 0 %.</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>se.nosskirneh.spotifyswitches</string>
            <key>key</key>
            <string>pauseOnMute</string>
            <key>label</key>
            <string>Pause on mute</string>
            <key>PostNotification</key>
            <string>se.nosskirneh.spotifyswitches/preferencesChanged</string>
        </dict>



        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>About</string>
        </dict>
        <dict>
            <key>action</key>
            <string>sendEmail</string>
            <key>icon</key>
            <string>mail.png</string>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Email me with issues</string>
        </dict>
        <dict>
            <key>action</key>
            <string>donate</string>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>icon</key>
            <string>donate.png</string>
            <key>label</key>
            <string>Buy me a beer</string>
        </dict>
        <dict>
            <key>action</key>
            <string>sourceCode</string>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>icon</key>
            <string>github.png</string>
            <key>label</key>
            <string>Source Code on GitHub</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>footerAlignment</key>
            <integer>1</integer>
            <key>footerText</key>
            <string>© 2017 Andreas Henriksson</string>
        </dict>

    </array>


    <key>title</key>
    <string></string>
</dict>
</plist>
